.main {
  width: 100%;
  min-height: 100vh;
  background: black;
  display: grid;
  justify-items: center; /* new */
  align-items: center; /* new */
}


.card {
  width: 576px;
  background: blue;
  height: 576px;
  display: flex;
  flex-flow: row wrap;
}

.cardItem {
  width: 100%;
  height: auto;
  
}

.qr_img {
  border: 1px solid #ddd;
  padding: 5px;
  width: 576px;
  height: 576px
}
